#sign {
	background-color: #1E90FF;
	color: white;
	display: inline;
	padding: .5em;
	margin: .5em;
}
tr {
	padding: .5em;
	margin: .5em;
	}
#search {
	width: 40em;
	height: 2em;
	margin: .5em;
	padding: .5em;
	margin-top: .5em;
	margin-left: 50em;
	border-width: .01em;
}
#google {
	display: inline-block;
	margin-top: 15em;
	margin-left: 50em;
	}
#button1 {
	Margin-top: 1em;
	margin-left: 60em;
	padding: 1em 1.25em 1em 1.25em;
	border-style: none;
	background-color: #F2F2F2;
	}
#button2 {
	padding: 1em;
	border-style: none;
	background-color: #F2F2F2;
	}
